/* THEME TOGGLE BUTTON */
.theme-toggle {
    position: relative;
    width: 60px;
    height: 30px;
    background: #ddd;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.theme-toggle.dark {
    background: #444;
}

.theme-toggle .toggle-circle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.theme-toggle.dark .toggle-circle {
    transform: translateX(30px);
}

.icon {
    font-size: 18px;
    position: absolute;
    top: 5px;
}

.icon.sun {
    left: 8px;
    color: #ffa500;
}

.icon.moon {
    right: 8px;
    color: #00e5ff;
}
